/* Add CSS Styling */

.disp {
    background-color: rgb(255, 167, 167);
    font-family: Verdana, "DejaVU Sans", sans-serif;
}

.font {
    font-size: 24px;
}

#num2 {
    color: #00f;
    font-size: 36px;
}

#num4 {
    background-color: lightgreen;
    font-weight: bold;
}